<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>nl.joostrijneveld.kmc2520.listener.plist</string>
    <key>Program</key>
    <string>/usr/local/bin/kmc2520listener.py</string>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
